<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>

<body>
    <nav>
        <div>{{.title}}</div>
        <button id="popout_open" class="s2">☰</button>
    </nav>
    <div id="popout" class="popout">
        <button id="popout_close">╳</button>
        <a href="/">Home</a>
        <a href="/payment">Submit a Payment</a>
        <a href="/categories">Manage Categories</a>
        <a href="/automatic">Automatic Payments</a>
    </div>
    <main class="covered">